@model IEnumerable<PlanillajeColectivos.DTO.Products.factura>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FACTURAS EN DESPACHOS";
}

    <table class="table table-responsive">
        <tr>
            <th>
                #
            </th>
            <th>
                CLIENTE
            </th>
            <th>
                VENDEDOR
            </th>
            <th>
                FECHA
            </th>
            <th>
                TIPO
            </th>
            <th>
                TOTAL
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persons.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usersTabla.nombre) @Html.DisplayFor(modelItem => item.usersTabla.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @{
                    if (item.tipo == 1)
                    {
                        <label>CONTADO</label>
                    }
                    else
                    {
                        <label>CREDITO</label>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            @{
                if (item.stateId == 1)
                {
            <td>
                @Html.ActionLink("VER", "editarFacturaDespachos", new { id = item.id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("IMPRIMIR", "imprimirFactura", new { id = item.id }, new { @class = "btn btn-success btn-xs" })
            </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("VER", "editarFacturaDespachos", new { id = item.id },new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("IMPRIMIR", "imprimirFactura", new { id = item.id }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                }
            }          
        </tr>
         }

    </table>
