@model IEnumerable<PlanillajeColectivos.DTO.Products.pedidosViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FACTURA TERMINADA";
}

<link href="~/Content/css/chosen.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2@9.js"></script>

<label class="col-form-label"><h5>Cliente: </h5></label>
<label class="col-form-label">@ViewBag.cliente</label>
<br />
<label class="col-form-label"><h5>Vendedor: </h5></label>
<label class="col-form-label">@ViewBag.vendedor</label>

<table id="myTable" class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                CANTIDAD
            </th>
            <th>
                CODIGO DE BARRAS
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                PRECIO UNIDAD
            </th>
            <th>
                TOTAL
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoBarras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" value="@ViewBag.facturaId" id="facturaId" />

<div class="row">
    <div class="col-md-3" id="columnaParaBtn">
        
    </div>
    <div class="col-md-2">
        <h4><label>TOTAL</label></h4>
    </div>
    <div class="col-md-2">
        <h4><label>@ViewBag.total</label></h4>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var facturaId = $("#facturaId").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("verificarContabilizada", "facturas")",
                datatype: "Json",
                data: { facturaId: facturaId },
                success: function (data) {
                    if (data == 1) {
                        var button = '<button id="btnContabilizarFactura" class="btn btn-success">CONTABILIZAR FACTURA</button>';
                        $('#columnaParaBtn').append(button);
                    } else if(data == 0){
                        var mensaje = '<h4><label>FACTURA CONTABILIZADA</label></h4>';
                        $('#columnaParaBtn').append(mensaje);
                    }
                }
            });
        });

        $(document).on('click', '#btnContabilizarFactura', function () {
            $("#btnContabilizarFactura").prop("disabled", true);
            var facturaId = $("#facturaId").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("contabilizarFactura", "facturas")",
                datatype: "Json",
                data: { facturaId: facturaId },
                success: function (data) {
                    if (data == 1) {

                        Swal.fire({
                            title: 'Factura Contabilizada Correctamente!',
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok'

                        }).then((result) => {
                            if (result.value) {
                                window.location.href = '@Url.Action("facturasTerminadas", "facturas", new { Area = "Facturas"})';
                            } else {
                                window.location.href = '@Url.Action("facturasTerminadas", "facturas", new { Area = "Facturas"})';
                            };
                        });

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Error al Contabilizar Factura!'
                        })
                    }
                }
            });
        });
    </script>
}