@model IEnumerable<PlanillajeColectivos.DTO.Contabilidad.planCuentas>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Plan Cuentas";
}

<div class="col-md-3" @*style=" margin-top: 1%;"*@>
    <a href="/Contabilidad/planCuentasC/Create" class="btn btn-success" @*data-toggle="modal" data-target="#centro"*@>Crear Nueva - Cuenta</a>
</div>
<hr />
<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.naturaleza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reqTercero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reqCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.corriente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.validaSaldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.naturaleza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reqTercero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reqCosto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.corriente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.validaSaldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>*@
            </tr>
         }
    </tbody>
</table>
@section scripts
{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "/Content/Spanish.json"
                }
            });
        });
    </script>
}