@model IEnumerable<PlanillajeColectivos.DTO.Products.factura>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-12" style="background:#f8f9fc">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/Procesos/Procesos/facturasCaja">POS</a>
                <a class="nav-item nav-link" href="/Facturas/facturas/ListFacturasElectronicas">ELECTRÓNICA</a>
            </div>
        </div>
    </nav>

    <br />
    <div class="tab-content" style="display: flex; justify-content: center;">

        <table id="myTable" class="table table-striped table-bordered table-responsive" >
            <thead>
                <tr>
                    @*<th>
        #
        </th>*@
                    <th>
                        NUMERO
                    </th>
                    <th style="width: 300px;">
                        CLIENTE
                    </th>
                    <th style="width: 250px;">
                        VENDEDOR
                    </th>
                    <th style="width: 100px;">
                        FECHA
                    </th>
                    <th>
                        HORA
                    </th>
                    <th>
                        TIPO
                    </th>
                    <th>
                        TOTAL
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
            @Html.DisplayFor(modelItem => item.id)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.numeroFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.persons.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usersTabla.nombre) @Html.DisplayFor(modelItem => item.usersTabla.apellido)
                        </td>
                        <td>
                            @String.Format("{0:yyyy-MM-dd}", item.date)
                        </td>
                        <td>
                            @String.Format("{0:HH:mm:ss}", item.date)
                        </td>
                        <td>
                            @{
                                if (item.tipo == 1)
                                {
                                    <label>CONTADO</label>
                                }
                                else
                                {
                                    <label>CREDITO</label>
                                }
                            }
                        </td>
                        <td style="text-align:right;">
                            $@String.Format("{0:N0}", item.total)
                        </td>
                        <td>
                            @Html.ActionLink("VER", "verFacturaCaja", new { id = item.id })
                        </td>
                    </tr>
                }
            </tbody>



        </table>
    </div>

</div>



@section scripts
{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ordering": true,
                "language": {
                    "url": "/Content/Spanish.json"
                }
            });
        });
    </script>
}